.carts-container {
    border: 1px solid black;
    text-align: center;
    margin-top: 0.5rem;
}

.carts-itemps-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
    margin: 0.5rem;
    align-items: start;
}