.calculator {
    width: 325px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

/* input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
} */

.B{
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    background-color: #fff;
    transition: background-color 0.3s;
} 

.B:hover {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    background-color: #e6e6e6;
}

.boperator {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    background-color: #ffdd57;
    color: #000000;
}

.boperator:hover {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    background-color: #ffd900c9;
}

button#equal {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    background-color: #5bc0de;
    color: white;
}

button#equal:hover {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    background-color: #39a0b5;
}
